body{
    background: url(pexels-cottonbro-studio-5473302.jpg) no-repeat fixed center center/cover;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    color: white;
    
}
.contain{
    display: grid;
    grid-gap: 3rem;
    grid-template-areas:
    'item item item item'
    'section section side side'
    'footer footer footer footer';
    font-size: 20px;
    color: white;
    padding: 14px 18px;
}

#item{
    grid-area: item;
}
#section{
    grid-area: section;
}
#side{
    grid-area: side;
}
#footer{
    grid-area: footer;
}