body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 103vh;
}
.btn{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: pink;
    border-radius: 9px;
    margin: 300px;
    width: 100px;
    cursor: pointer;
    padding: 7px;

}
.btn:hover{
    background-color: skyblue;
}